@import url("common-css.css");

/* imp! Main section  */

main {
  flex: 2 1 auto;
}

.section-filter {
  padding: 0rem 4rem;
}

.c-jacket-header {
  display: flex;
  font-size: 16px;
  font-family: 'Prompt';

  a {
    text-decoration: none;
    transition: all 0.2s ease-in-out;
  }

  a:after {
    content: '>';
  }

  a:last-child::after {
    content: '';
  }

  a:first-child:hover {
    text-decoration: underline;
  }
}

.section-filter {
  padding: 0rem 3rem 3rem;
}

.c-jacket-filter {
  display: flex;
  padding-top: 27px;
  padding-bottom: 13px;
}

.c-jacket-filter p {
  font-size: 1rem;
}

.c-hide-filter {
  display: none;
}

.c-header-items {
  display: flex;
  flex: 1 1 auto;
  font-weight: bold;

}

.c-header-sort {
  display: flex;
  flex: 15 1 auto;
  justify-content: end;
  text-transform: uppercase;
}

.c-header-filter {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  gap: 0.5rem;
  text-transform: uppercase;
}

.c-jackets {
  display: flex;
  flex-direction: column;
}

.c-activity {
  display: none;
}

.c-products-header {
  display: none;
}

.c-hero {
  display: none;
}


.c-adjust {
  display: none;
}


.c-jacket-header {
  display: none;
}

.c-jacket-header-2 {
  display: flex;
  padding: 8rem 4rem 0rem 4rem;
}

.c-jacket-header-2 a {
  font-family: 'Roboto';
  font-size: 1rem;
  font-weight: 300;
  color: #000000;
}



@media only screen and (width>1100px) {
  .c-adjust {
    display: flex;
    flex-direction: column;
    padding-top: 8rem;


    .c-products-header {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    .c-products-header h1 {
      font-family: 'Roboto';
      font-size: 2.4rem;
      font-weight: 500;
      padding-bottom: 1rem;
    }

    .c-jacket-header p {
      font-family: 'Roboto';
      font-size: 1rem;
      font-weight: 300;
      padding-top: 0.1rem;
    }
  }


  .c-jacket-filter p {
    font-size: 1.2rem;
  }

}


.c-jacket-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}

.c-jacket-header a {
  font-family: 'Roboto';
  font-size: 1rem;
  font-weight: 300;
  color: #000000;
}

.c-hero {
  display: flex;
  flex-direction: row;
  width: 100%;

  .c-hero-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    text-align: center;
    justify-content: center;

    .c-hero-img {
      width: 100%;
      object-fit: cover;
    }

    .c-hero-text {
      position: absolute;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
      top: 75%;
      color: white;
      font-size: 4rem;
      font-weight: 600;
      font-family: 'Prompt';
    }
  }
}

.c-hide-filter {
  display: flex;
  font-weight: bold;
  flex: 1 1 auto;
  cursor: pointer;
}

.c-header-items {
  justify-content: end;
  flex: 15 1 auto;
  cursor: pointer;
}

.c-header-filter {
  flex: 1 1 auto;
  cursor: pointer;
}

.c-header-sort {
  display: none;
}

.c-jackets {
  flex-direction: row;
  gap: 0.5rem;
  padding: 0rem 2rem 4rem;
  flex: 1 1 100%;
}

.c-activity {
  display: flex;
  flex-direction: column;
  flex: 1 1 20%;
  width: 100%;
  height: 29.2rem;
  min-width: 22.3rem;
  border: 2px solid #ebebeb;

  .c-activity-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem 2rem;
    font-family: 'Prompt';
    font-weight: 500;


    .fa-circle-xmark {
      font-size: 1.2rem;
      cursor: pointer;
    }

    .c-activity-checkbox {
      display: flex;
      border-color: #858383;
      width: 1.375rem;
      height: 1.375rem;
    }

    .c-activity-choosecolor {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 2rem;
      font-family: 'Prompt';
      font-size: 1.1rem;
      font-weight: 500;

      div {
        font-size: 1.2rem;
        font-weight: 600;
      }

      #clr-reset-btn {
        font-size: 1.5rem;
        cursor: pointer;
      }
    }

    .c-activity-color-container {
      display: flex;
      flex-direction: row;
      gap: 2rem;
      flex-wrap: wrap;
      padding-bottom: 1rem;
      justify-content: center;

      .c-activity-color-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .c-activity-color-ball {
          display: flex;
          padding: 1rem;
          border-radius: 100%;
          align-items: center;
          justify-content: center;
        }

        .c-activity-color-name {
          display: flex;
          width: 100%;
          align-items: center;
          justify-content: center;
          font-family: 'Prompt';
          font-size: 1rem;
          font-weight: 300;
        }

        .c-color-beige {
          background-color: #f5f5dc;
          cursor: pointer;
        }

        .c-color-black {
          background-color: #000000;
          cursor: pointer;
        }

        .c-color-blue {
          cursor: pointer;
          background-color: #0146ac;
        }

        .c-color-grey {
          background-color: #8b8e8c;
          cursor: pointer;
        }

        .c-color-yellow {
          background-color: #eea722;
          cursor: pointer;
        }

        .c-color-red {
          background-color: #c91f2d;
          cursor: pointer;
        }

        .c-color-cactus {
          background-color: #536649;
          cursor: pointer;
        }

        .c-color-pink {
          background-color: #ffbfcb;
          cursor: pointer;
        }

        .c-color-green {
          background-color: #008001;
          cursor: pointer;
        }

        .c-color-purple {
          background-color: #6500b7;
          cursor: pointer;
        }

        .c-color-yellow {
          background-color: #e8b601;
          cursor: pointer;
        }
      }
    }

    .c-activity-size-container {
      display: flex;
      flex-direction: column;

      .c-activity-size-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 0 2rem 0;

        h3 {
          font-size: 1.2rem;
          font-weight: 600;
        }
      }

      .c-activity-size-list {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        padding-bottom: 1rem;
      }

      .c-activity-size {
        display: flex;
        min-width: 2.3rem;
        align-items: center;
        justify-content: center;
        font-family: 'Prompt';
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 300;
        border: 1px solid black;
        border-radius: 0.2rem;
        cursor: pointer;
      }

      .c-activity-size:hover {
        background-color: var(--background-color-addbtn-hover);
      }
    }

    #size-reset-btn {
      font-size: 1.5rem;
      cursor: pointer;

    }

    .c-activity-fit-list {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .c-activity-fit {
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: 'Prompt';
      font-size: 1rem;
      font-weight: 300;
    }
  }

}

.c-activity {
  display: none;
}


.section-2-article {
  display: flex;
  flex: 1 1 80%;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.filter-main-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0rem 0rem;
}

.c-header-filter p {
  font-family: 'Roboto';
  font-size: 1.2rem;
}

.sort-by-section {
  display: flex;

  .short-by {
    font-family: 'Roboto';
    font-size: 1rem;
    border: 2px solid gray;
    padding: 0.3rem 1rem;

  }
}

.filters-by-section {

  .filter-by {
    font-family: 'Roboto';
    font-size: 1rem;
    border: 2px solid gray;
    padding: 0.3rem 1rem;

  }
}

.section-2-gallery-common {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 14.5rem;
  height: auto;

  .section-2-gallery-text-price {
    font-family: 'Roboto';
    font-size: 1rem;
    font-weight: 600;
  }
}

.section-2-title-h4 h4 {
  font-family: 'Prompt';
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 500;
  padding-bottom: 2.4rem;
}

.section-2-img-div {
  width: 100%;
  height: 17rem;
}

.section-2-gallery-common div img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.section-2-gallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.4rem;
  width: 17rem;
  /* height: 26.5rem; */
  background-color: #e1e1e1;
  padding: 1rem 1rem;
  border-radius: 1rem;
}

.section-2-gallery-text-p {
  font-family: 'Roboto';
  font-size: 1rem;
  font-weight: 600;
  padding-top: 0.8rem;
  cursor: pointer;
  line-height: normal;
}

.section-2-gallery-common span {
  font-family: 'Roboto';
  font-size: 1rem;
  font-weight: 400;
  padding-top: 0.4rem;
}

.c-add-to-cart {
  margin-top: 0.5rem;
  padding: 0.3rem 0;
  border-radius: 0.3rem;
  background-color: var(--background-color-addbtn);
  border: transparent;
  color: #fff;
  font-family: 'Roboto';
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.c-add-to-cart:hover {
  background-color: var(--background-color-addbtn-hover);
}

.c-add-to-cart-2 {
  width: 100%;
  padding: 0.3rem 0;
  border-radius: 0.3rem;
  background-color: var(--background-color-addbtn);
  border: transparent;
  color: #fff;
  font-family: 'Roboto';
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.c-add-to-cart-2:hover {
  background-color: var(--background-color-addbtn-hover);
}

.c-product-preview-rating {
  color: var(--color-star);

  .reviews {
    color: #000000;
  }
}

.reviews-2 {
  color: #ffffff;
  font-size: 0.9rem;
  font-family: 'Roboto';
  font-weight: 300;
}

@media (width<600px) {
  .section-filter {
    padding: 0rem 2rem 2rem;
  }

  .c-jackets {
    padding: 0rem 2rem;
  }

  .section-2-article {
    gap: 1rem;
    padding: 0rem;

    .section-2-gallery {
      flex-wrap: nowrap;
      gap: 0.7rem;
      overflow-x: scroll;
      scroll-snap-type: x proximity;
      width: 9rem;
      padding: 0.6rem 0.6rem;

      .section-2-gallery-common {
        width: 100%;

        .section-2-img-div {
          height: 9rem;


          .section-2-gallery-common a img {
            height: auto;
          }

          .section-2-gallery-text-p {
            font-size: 0.9rem;
            padding-top: 0;
          }
        }

        .section-2-gallery-common span {
          font-size: 0.8rem;
        }

        .reviews {
          font-style: 0.8rem;
        }

        .section-2-gallery-text-price {
          font-style: 0.8rem;
        }

        .c-add-to-cart {
          margin-top: 0;
          padding: 0.2rem;
          font-size: 0.9rem;
        }
      }
    }
  }



  .c-item-price a {
    padding: 0.1rem 0.7rem;
    border-radius: 0.2rem;
  }

  .c-jacket-header-2 {
    padding: 8rem 2rem 0rem 2rem;
  }

  .c-item-col h3 {
    font-size: 1rem;
  }

  .c-item-col p {
    font-size: 1rem;
  }
}

@media only screen and (width>1100px) {
  .c-activity {
    display: flex;
  }


  .section-filter {
    padding: 2rem 6rem;
  }

  .c-jackets {
    padding: 0rem 6rem 5rem;
  }

  .c-item-col h3 {
    font-size: 1.2rem;
  }

  .c-jacket-header-2 {
    display: none;
  }
}

/*imp! SECTION-5 */


.section-5 {
  padding: 4.5rem 16rem;
}

.section-5-main-container {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  align-items: flex-start;
  justify-content: center;
}

.section-5-col-1 {
  display: flex;
  flex-direction: row;
}

.section-5-common-text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.section-5-title-text-common {
  display: flex;
  flex-direction: column;
  gap: 21rem;
  font-size: 1.1em;
  font-family: 'Prompt';
  font-weight: 600;
  text-align: center;
}

.section-5-description-text-common {
  font-family: 'Roboto';
  font-size: 1rem;
  text-align: justify;
  font-weight: 300;
  line-height: 1.2rem;

}

.section-5-col-text-side-line {
  height: 8rem;
  width: 0.3rem;
  background-color: #000000;
}

.section-5-col-1 {
  display: flex;
  gap: 5rem;
  align-items: center;
}

.section-5-col-2 {
  display: flex;
  gap: 5rem;
  align-items: center;
}

.hero-page-hr-4 {
  height: none;
  border: none;
  border-top: 0.5px solid #00000050;
}

.hero-page-hr-5 {
  height: none;
  border: none;
  border-top: 0.5px solid #00000050;
}

@media (999px<width<1220px) {
  .section-5 {
    padding: 4.5rem 6rem;
  }
}

@media (width<999px) {

  .section-5 {
    padding: 4.5rem 6rem;
    flex-direction: column;
  }

  .section-5-main-container {
    flex-direction: column;
    gap: 3rem;
  }

  .section-5-common-text {
    gap: 1rem;
  }

  .section-5-col-1 {
    flex-direction: column;
    gap: 2rem;
  }

  .section-5-col-text-side-line {
    width: 8rem;
    height: 0.021rem;
  }

  .section-5-col-2 {
    flex-direction: column;
    gap: 2rem;

  }

  .section-5-col- {
    flex-direction: column;
    gap: 2rem;
  }

  .section-5-description-text-common {
    text-align: center;
  }
}

@media (width<600px) {
  .section-5 {
    padding: 3rem 6rem 3rem 6rem;
  }
}

/*imp! SECTION-6 */


.section-6 {
  padding: 2rem 8.125rem;
}

.section-6-main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.section-6-payment-common {
  width: 2.50rem;
  height: 1.50rem;
  display: flex;
  align-items: center;
}

.section-6-main-container img {
  width: 100%;
  height: auto;
}


.section-6-klarna {
  width: 3.6rem;
}

.section-6-paypal {
  width: 2.5rem;
}

.section-6-vipps {
  width: 4rem;
}

.hero-page-hr-6 {
  height: none;
  border: none;
  border-top: 0.5px solid #00000050;
}

@media (width<600px) {
  .section-6 {
    padding: 2rem 2rem;
  }
}

/*imp! FOOTER */


/*imp! FOOTER */



.l-footer-main-1 {
  width: 100%;
  height: auto;
  padding: 4.25rem 6rem 1.5rem 6rem;
  background-color: #03346E;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
}

.l-footer-row-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;

}

.l-footer-col-1 {
  width: 9rem;
  height: auto;
  margin-right: 3rem;
}

.l-footer-col-1 img {
  width: 100%;
  opacity: 70%;
  cursor: pointer;
}

.l-footer-col-2 {
  display: flex;
  flex-direction: row;
  gap: 4.5rem;
  margin-right: 2rem;
}

.l-footer-sub-col-common {
  display: flex;
  flex-direction: column;
}

.l-footer-sub-col-common h6 {
  font-family: 'Roboto';
  font-size: 1rem;
  font-weight: 400;
  color: white;
  padding-bottom: 1.5rem;
  cursor: pointer;
  display: inline;
}

.l-footer-help-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.l-footer-help-list a {
  font-family: 'Roboto';
  font-size: 0.9rem;
  color: white;
  text-decoration: none;
  font-weight: 100;
  cursor: pointer;
}

.l-footer-col-3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

}

.l-footer-col-3 h6 {
  font-family: 'Roboto';
  font-size: 1rem;
  font-weight: 400;
  color: white;
  padding-bottom: 1rem;
}

.l-footer-col-3 i {
  color: white;
  font-size: 1.1rem;
  padding-right: 1rem;
  cursor: pointer;
}

.l-footer-col-4 {
  display: flex;
  flex-direction: column;
  width: 8.7rem;
  gap: 0.4rem;
}

.l-footer-col-4 img {
  border-radius: 0.5rem;
  width: 100%;
  height: auto;
}

.l-footer-main-2 {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0.4rem;
}

.l-footer-row-2-item-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}

.l-footer-row-2-item-1 {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
}

.l-footer-row-2-line {
  display: flex;
  flex-basis: 82%;
  background-color: #fff;
  height: 0.2px;

}

.l-footer-row-2-text {
  display: flex;
  flex-basis: 18%;
  justify-content: space-between;
}

.l-footer-row-2-text a {
  font-family: 'Roboto';
  font-size: 0.9rem;
  color: white;
  text-decoration: none;
  font-weight: 100;
  cursor: pointer;
}

.l-footer-row-2-item-2 {
  text-align: center;
  font-family: 'Roboto';
  font-size: 0.9rem;
  color: white;
  text-decoration: none;
  font-weight: 100;
  color: white;
}



@media (600px<width<1220px) {

  .l-footer-row-1 {
    flex-direction: column;
    width: 100%;
  }

  .l-footer-col-2 {
    margin-right: 0rem;
    justify-content: space-between;
    padding-top: 3rem;
  }

  .l-footer-col-3 {
    padding-top: 3rem;
  }

  .l-footer-col-4 {
    padding-top: 3rem;
  }
}

/* imp! MOBILE FOOTER */

.l-footer {
  background-color: #03346e;
  color: white;
  display: flex;
  flex-direction: column;
}

.c-footer-col {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem 2rem 2rem
}

.c-footer-help {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.c-footer-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 25px;
}

.c-footer-summary {
  display: flex;
  justify-content: space-between;
  font-family: 'play';
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
}

.c-footer-summary::-webkit-details-marker {
  display: none;
}

.c-summary-btn {
  display: flex;
  padding-top: 1.2rem;
  font-size: 16px;
  color: white;
  font-family: 'Roboto';
  font-size: 1rem;
  font-weight: 300;
  cursor: pointer;
}

.c-footer-region {
  display: flex;
  flex-direction: row;
  padding: 1rem 1rem;
  border: 1px solid;
}

.c-region-country {
  display: flex;
  flex-grow: 1;
  justify-content: left;
  font-family: 'Play';
  font-size: 1rem;
}

.c-region-change {
  display: flex;
  flex-grow: 1;
  font-weight: bold;
  font-family: 'Play';
  font-size: 1rem;
}

.c-region-icon {
  display: flex;
  flex-grow: 1;
  justify-content: end;
}

.c-footer-follow {
  display: flex;

  align-items: center;
  padding-top: 4rem;
}

.c-follow-p {
  display: flex;
  flex: 1 1 40%;
  flex-direction: column;
  gap: 1rem;
}

.c-follow-icons {
  display: flex;
  gap: 1.3rem;
}

.c-follow-icons i {
  font-size: 1.2rem;
}

.c-follow-p p {
  font-family: 'Play';
  font-size: 1.125rem;
}

.c-follow-container {
  display: flex;
  flex: 1 1 60%;
  gap: 1rem;
}

.c-apple-container {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 100%;
  height: auto;
}

.c-apple-container img {
  width: 100%;
  min-height: 2.7rem;
  border-radius: 0.5rem;
}

.c-google-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
}

.c-google-container img {
  width: 100%;
  border-radius: 0.5rem;
  min-height: 2.7rem;
}

.c-footer-last {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #000000;
  height: 42.77px;
  text-align: center;
  font-family: 'Roboto';
  font-size: 0.9rem;
}

@media (width<520px) {
  .c-footer-follow {
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }

  .c-follow-container {
    max-width: 17rem;
  }

}

@media (width<600px) {
  .l-footer-main-1 {
    display: none;
  }
}

@media (width>600px) {
  .l-footer {
    display: none;
  }
}

@media (width<600px) {
  .l-footer {
    display: flex;
  }
}